chromadb==0.3.21
langchain==0.0.146
python-dotenv==1.0.0

# required extra libs
openai==0.28.1
tiktoken==0.5.2
unstructured==0.11.2
unstructured[pdf]

fastapi==0.105.0
uvicorn==0.24.0.post1
uvicorn[standard]

fabric==2.7.0
invocations==3.3.0

flake8==4.0.1
